[general]
status_path = "~/.vdirsyncer/status/"

[pair tencent_calendar]
a = "tencent_local"
b = "tencent_remote"
collections = ["from b"]
metadata = ["displayname", "color"]

[storage tencent_local]
type = "filesystem"
path = "~/.vdirsyncer/calendars/tencent/"
fileext = ".ics"

[storage tencent_remote]
type = "caldav"
url = "https://cal.meeting.tencent.com"
username = "$CALDAV_USER"
password = "$CALDAV_PASS"
